<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        
        {% stylesheets
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/fullcalendar/dist/fullcalendar.min.css'
            'assets/vendor/font-awesome/css/font-awesome.min.css'
            'assets/vendor/chosen/chosen.css'
            'assets/vendor/qtip2/jquery.qtip.min.css'
            'assets/vendor/spectrum/spectrum.css'
            output='assets/compiled/css/libraries.css'
            filter='cssrewrite,lessphp'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% stylesheets
            '@ATSScheduleBundle/Resources/public/css/chosen-bootstrap-theme.css'
            '@ATSScheduleBundle/Resources/public/less/controller/Default/index.less'
            output='assets/compiled/css/app.css'
            filter='cssrewrite,lessphp'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% block stylesheets %}
            {% stylesheets
                'assets/vendor/fullcalendar/dist/fullcalendar.print.min.css'
                '@ATSScheduleBundle/Resources/public/less/controller/Default/index.print.less'
                output='assets/compiled/css/app_print.css'
                filter='cssrewrite,lessphp'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" media="print" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}
            {% javascripts
                'assets/vendor/jquery/dist/jquery.min.js'
                'assets/vendor/jquery-ui/jquery-ui.min.js'
                'assets/vendor/bootstrap/dist/js/bootstrap.js'
                'assets/vendor/moment/min/moment.min.js'
                'assets/vendor/fullcalendar/dist/fullcalendar.min.js'
                'assets/vendor/chosen/chosen.jquery.js'
                'assets/vendor/qtip2/jquery.qtip.min.js'
                'assets/vendor/spectrum/spectrum.js'
                filter='?jsqueeze'
                output='assets/compiled/js/libraries.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
            {% javascripts '@ATSScheduleBundle/Resources/public/js/util/*'
                filter='?jsqueeze'
                output='assets/compiled/js/utils.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
            {% javascripts '@ATSScheduleBundle/Resources/public/js/controller/Default/*'
                filter='?jsqueeze'
                output='assets/compiled/js/controllers.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    
        {% embed 'base-footer.html.twig' %}
        {% endembed %}
    </body>
</html>
